SECRET_KEY='django-insecure-IiOfHY93ZTgG3CMd2gnzMaPmiu51x6HMZDJ91urD'
# host should be "localhost" for native development or "db" for docker-based development
DATABASE_URL='postgresql://postgres:postgres@localhost:5432/general_balance'
# host should be "localhost" for native development or "redis" for docker-based development
REDIS_URL='redis://localhost:6379'

GOOGLE_ANALYTICS_ID=''
SENTRY_DSN=''

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# public media storage config
USE_S3_MEDIA=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_CUSTOM_DOMAIN=
