# This is a template for the `.env` file that is used by Kamal to deploy the service.
# The template only includes the essential settings required to deploy and run the service.
# You can copy this file to `deploy/.env` and fill in the values.
###############################################################################

# This file should contain all the secrets required by your app
# to run. This file is ignored by git by default.
# The content of this file should be similar to that of the `.env` file in the project root
# which is used for local development.

###
### Kamal settings
###
# Kamal config expects the service to be running on this port
PORT=8000

# Docker registry password
KAMAL_REGISTRY_PASSWORD=

# Docker postgres password
POSTGRES_PASSWORD=

###
### Minimal Django settings
###
# Use production settings file
DJANGO_SETTINGS_MODULE=general_balance.settings_production
SECRET_KEY=

# change host for multi-host deployments
DATABASE_URL=postgres://general_balance:<postgres_password>@general_balance-postgres:5432/general_balance

# change host for multi-host deployments
REDIS_URL=redis://general_balance-redis:6379

# Other Django settings. Note that these must also be included in your deploy.yml file to be used
GOOGLE_ANALYTICS_ID=''
SENTRY_DSN=''

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

ENABLE_DEBUG_TOOLBAR=True

# public media storage config
USE_S3_MEDIA=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# DEFAULT_FROM_EMAIL="kylehunt22@gmail.com"
# SERVER_EMAIL="noreply@generalbalance.com"

# EMAIL_BACKEND="anymail.backends.mailgun.EmailBackend"
# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"

HEALTH_CHECK_TOKENS=
