{% extends "web/app/app_base.html" %}
{% load static %}

{% block title %}Delete {{ workflow.name }}{% endblock %}

{% block app %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3>Delete Workflow</h3>
                    <p>Are you sure you want to delete "{{ workflow.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                        <a href="{% url 'workflows:workflow_detail' workflow.pk %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
